/* Forms */
.input-field input[type=text]:not(.select-dropdown) {
    border: 1.5px solid;
    padding-left: 10px;
    box-shadow: 0px;
    border-image: url("../img/blue-lowpoly-small.jpg") 25 25 round;
    height: 10vh;
    margin-bottom: 0px;
}
.input-field input[type=text]:hover:not(.select-dropdown) {
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
}
.input-field input[type=text]:focus:not(.select-dropdown) {
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
}
.input-field input[type=password] {
    border: 1.5px solid;
    padding-left: 10px;
    box-shadow: 0px;
    border-image: url("../img/blue-lowpoly-small.jpg") 25 25 round;
    height: 10vh;
    margin-bottom: 0px;
}

.input-field input[type=password]:hover {
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
}
.input-field input[type=password]:focus {
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
}

.input-field input[type=email] {
    border: 1.5px solid;
    padding-left: 10px;
    box-shadow: 0px;
    border-image: url("../img/blue-lowpoly-small.jpg") 25 25 round;
    height: 10vh;
    margin-bottom: 0px;
}
.input-field input[type=email]:hover {
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
}
.input-field input[type=text]:focus {
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
}

::placeholder {
    color: rgb(15, 61, 114);  /* placeholder colour if browser doesn't support image text bg */
    background: url("../img/blue-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Nav Bar */
.nav-wrapper {
    background-color: #f8f8f8;
    height: 10vh;
}
nav .brand-logo {
    color: rgb(15, 61, 114);  /* placeholder colour if browser doesn't support image text bg */
    background: url("../img/blue-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 5vh; 
}
nav .brand-logo:hover {
    color: rgb(79, 175, 154);
    background: url("../img/green-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-logo-icon {
    font-size: 130%;
    margin-top: 2%;
}

nav ul a {
    color: rgb(15, 61, 114);
    font-weight: bold;
    background: url("../img/blue-lowpoly-small.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul a:hover {
    color: rgb(79, 175, 154);
    background: url("../img/green-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Index */
.carousel {
    height: 90vh;
}
#index-carousel-one {
    background-image: url("../img/blue-green-lowpoly-large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#index-carousel-two {
    background-image: url("../img/blue-green-midpoly-large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#index-carousel-three {
    background-image: url("../img/blue-green-highpoly-large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Log In and Sign Up */
#login-signup-container {
    background-image: url("../img/blue-green-lowpoly-large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}
#login-signup-card {
    margin-top: 10vh;
}
#login-signup-header {
    color: rgb(15, 61, 114);
    background: url("../img/blue-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login-btn {
    color: rgb(15, 61, 114);
    border: 1.5px solid;
    box-shadow: 0px;
    border-image: url("../img/blue-lowpoly-small.jpg") 25 25 round;
    margin-bottom: 2vh;
    background: url("../img/blue-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login-btn:hover {
    color: rgb(79, 175, 154);
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
    background: url("../img/green-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login-signup-card p {
    color: rgb(15, 61, 114);
    background: url("../img/blue-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login-signup-card p a:hover {
    color: rgb(79, 175, 154);
    background: url("../img/green-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#signup-btn {
    color: rgb(15, 61, 114);
    border: 1.5px solid;
    box-shadow: 0px;
    border-image: url("../img/blue-lowpoly-small.jpg") 25 25 round;
    margin-bottom: 2vh;
    background: url("../img/blue-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#signup-btn:hover {
    color: rgb(79, 175, 154);
    border-image: url("../img/green-lowpoly-small.jpg") 25 25 round;
    background: url("../img/green-lowpoly-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#signup-row {
    margin-bottom: 0px;
}


