
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--load materialize icons-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--load materialize css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--load local css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <title>track</title>
</head>
<body>
<header>
  <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><strong>track</strong> <i class="material-icons right" id="nav-logo-icon">trending_up</i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="nav-menu-bars">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% block nav_links %}
        {% endblock %}
        </ul>
    </div>
  </nav>
   <ul class="sidenav" id="mobile-demo">
    {% block sidenav_nav_links%}
    {% endblock %}
  </ul>
    </header>
        {% block content %}
        {% endblock %}
    <footer class="page-footer">
          <div class="footer-copyright">
            <h6><a href="{{url_for('index')}}" id="copyright-text"> track | 2020</a></h6>
            <div>
              <a href="https://www.facebook.com/" class="footer-link" target="_blank" rel="noopener"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="https://twitter.com/" class="footer-link" target="_blank" rel="noopener"><ion-icon name="logo-twitter"></ion-icon></a>
              <a href="https://www.instagram.com/" class="footer-link" target="_blank" rel="noopener"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="https://www.youtube.com/" class="footer-link" target="_blank" rel="noopener"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
          </div>
        </footer>
    <!--load jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--load materialize js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--load chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!--load local js-->
    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
</body>
</html> 