
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--load materialize icons-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--load materialize css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--load local css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <title>track</title>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html> 