{% extends 'base.html' %} {% block nav_links %}
<li><a href="{{url_for('index')}}">Home</a></li>
<li><a href="{{ url_for('dashboard', username=user.username) }}">Dashboard</a></li>
{% if user.goals_number != 0 %}
<li><a class="dropdown-trigger" href="#!" data-target="nav_goals">Goals<i class="material-icons right">arrow_drop_down</i></a></li>
<ul id="nav_goals" class="dropdown-content">
    {% for goal in goals %}
    <li><a href="#" class="uppercase">{{goal.goal_name}}</a></li>
    {% endfor %}
    {% if user.goals_number < 4 %}
    <li class="divider"></li>
    <li><a href="#add-goal-modal" class="modal-trigger uppercase"><i class="material-icons">add_box</i>New</a></li>
    {% endif %} 
</ul>
{% endif %}
<li><a href="{{url_for('profile', username=user.username)}}">Profile</a></li>
<li><a href="{{url_for('logout')}}">Log Out</a></li>
{% endblock %} 
{% block content %}
<div class="container-fluid" id="dash-container">
    <!--Fab Menu-->
    <div class="fixed-action-btn" id="cards-fab">
        <a class="btn-floating horizontal btn-large red" id="cards-fab-main-btn">
        <i class="large material-icons">dashboard</i>
        </a>
        <ul id="goal-fab-ul">
        {% if (goals | length) < 4%}
        <li>
            <a class="btn-floating darken-1 goal-fab-card"
            ><i class="material-icons">add</i></a
            >
        </li>
        {% endif %} {% for goal in goals %}
        <li>
            <a class="btn-floating darken-1 goal-fab-card" style="background-image: url({{ goal.image_url }})"></a>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col s12 m8 l6 {% if user.goals_number == 0 %} offset-m3 {% endif %}">
            <!--Main Card-->
            <div class="card">
                <div class="card-content center blue-text">
                    <h4 class="center uppercase spaced-text dark-blue-lowpoly"><strong>{{ user.fname }} {{ user.lname }}</strong></h4>
                    <span><a href="{{url_for('profile', username=user.username)}}" class="lowpoly-link modal-trigger center"><strong>View Profile</strong></a></span>
                    <br />
                    {% if user.goals_number == 0 %}
                    <h6 class="create-goal-prompt spaced-text"><strong>Create a goal to start saving!</strong></h6>
                    <a href="#add-goal-modal" class="btn modal-trigger center spaced-text waves-effect waves-white create-goal-btn"><strong>Create Goal</strong></a>
                    {% elif  user.goals_number == 1 %}
                    <h5 class="uppercase spaced-text">1 Goal</h5>
                    <br>
                    {% else %}
                    <h5 class="uppercase spaced-text">{{ user.goals_number }} Goals</h5>
                    {% if user.goals_achieved == 1 %}
                    <h6 class="uppercase spaced-text gold-lowpoly">{{ user.goals_achieved}} Goal Achieved</h6>
                    {% elif user.goals_achieved > 1 %}
                    <h6 class="uppercase spaced-text gold-lowpoly">{{ user.goals_achieved}} Goals Achieved</h6>
                    {% endif %}
                    <h5 class="uppercase"><strong>{{ user.currency }}{{ "{:,.2f}".format(user.total_currently_saved) }} saved<strong></h5>
                    {% endif %}
                </div> 
            </div>
            <!--Recent Activity Card-->
            <div class="card">
                <div class="card-content center blue-text">
                    <h5 class="center uppercase spaced-text"><strong>Recent Activity</strong></h5>
                    <span><a href="#" class="center lowpoly-link"><strong>View Full Savings History</strong></a></span>
                    <!--Savings History Table-->
                        <table class="highlight">
                        <thead>
                        <tr>
                            <th class="uppercase grey-text">Amount</th>
                            <th class="uppercase center grey-text">Goal</th>
                            <th class="uppercase grey-text right">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in user_savings_history | sort(reverse=true) %} <!--reverse item order as can only push to mongodb array -->
                        {% if loop.index <= 5 %}
                        <tr>
                            {% if item[1] > 0 %}
                            <td class="table-deposit">
                                <i class="material-icons deposits-arrow tiny">arrow_upward</i><strong class="deposits-main-figure">{{user.currency}}{{ "{:,.2f}".format(item[1]) }}</strong>
                            </td>
                            {% else %}
                            <td class="table-withdrawal">
                               <i class="material-icons withdrawals-arrow tiny">arrow_downward</i><strong class="withdrawals-main-figure">{{user.currency}}{{ "{:,.2f}".format(0 - item[1]) }}</strong>
                            </td>
                            {% endif %}
                            <td class="center"> <a href="#">{{ item[2] }}</a></td>
                            <td class="right">{{ item[0].strftime("%d %b, %Y") }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% if (user_savings_history | length) < 5 %}
                            {% for number in range ((user_savings_history | length), 6) %}
                            <tr class="grey lighten-4 placeholder-rows">
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div> 
    </div>
</div>
{% endblock %} 
{% block include_js_html %}
{% include 'dash_js.html'%}
{% endblock %}
