<script>
$(document).ready(function(){
/*nav to add goal card if url decorated with add_goal path */
    if ({{ add_goal | tojson }}) {
        showCreateGoal();
    };
    $("#add_goal_fab_card, #add-goal-btn").click(function(){
        showCreateGoal();
    });
    $("#create-goal-cancel").click(function(){
        hideCreateGoal();
    });
});
function showCreateGoal(){
    $("#create-goal-card").removeClass("display-none");
    $(".card:not('#create-goal-card')").addClass("display-none");
}
function hideCreateGoal(){
    $("#create-goal-card").addClass("display-none");
    $(".card:not('#create-goal-card')").removeClass("display-none");
}
</script>