{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid page-container" id="dash-container">
    <!--Fab Menu-->
    <div class="fixed-action-btn hide-on-small-only" id="cards-fab">
        <a class="btn-floating horizontal btn-large red" id="cards-fab-main-btn">
        <i class="large material-icons">dashboard</i>
        </a>
        <ul id="goal-fab-ul">
        {% if (goals | length) < 4%}
        <li>
            <a class="btn-floating goal-fab-card" id="add_goal_fab_card"><i class="material-icons">add</i></a>
        </li>
        {% endif %} {% for goal in goals %}
        <li>
            <a class="btn-floating darken-1 goal-fab-card" href="{{ url_for('goal_view', username=user.username, goal_id=goal._id) }}" style="background-image: url({{ goal.image_url }})"></a>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <!--Main Card-->
            <div class="card" id="main-card">
                <div class="card-content center">
                    <div class="grey-border">
                        <h4 class="center uppercase spaced-text header-blue"><strong>{{ user.fname }} {{ user.lname }}</strong></h4>
                        <span><a href="{{ url_for('profile', username=user.username) }}" class="header-blue-lighter card-link modal-trigger center"><strong>View Profile</strong></a></span>
                        <br />
                        {% if user.goals_number == 0 and user.deposits_number == 0 %}
                        <h6 class="create-goal-prompt spaced-text uppercase header-blue-darker">Create a goal to start saving!</h6>
                        <div class="row">
                            <div class="input-field col s12 m8 offset-m2">
                                <input id="create-goal-name" name="create-goal-name" type="text" placeholder="Goal Name" required>
                                <span class="helper-text spaced-text" data-error="Enter a name to create goal"></span>       
                            </div>
                        </div>
                        <a class="btn blue-btn center waves-effect waves-white" id="create-goal-btn"><strong>Create Goal</strong></a>
                        {% elif user.goals_number == 1 %}
                            {% for goal in goals %}
                                <!--Shows if user hasn't made any deposits towards only goal-->
                                {% if goal.deposits_number == 0 %}
                                <h5 class="uppercase spaced-text header-gold">
                                {{ goal.goal_name }}
                                </h5>
                                <a class="waves-effect waves-light btn blue-btn" href="{{ url_for('goal_view', username=user.username, goal_id=goal._id) }}"><strong>Start Saving!</strong></a>
                                <br /><br>
                                <p class="header-blue-darker spaced-text" >You'll recieve more savings insights as soon as you make your first deposit</p>
                                <br>
                                {% else %}
                                <h5 class="uppercase spaced-text header-blue-darker">Saving towards One Goal</h5>
                        
                                 {% endif %}
                            {% endfor %}
                        {% else %}
                        {% if user.goals_number == 0%}
                        <h6 class="uppercase spaced-text header-blue">No Current Goals</h6>
                        <a class="waves-effect waves-light btn blue-btn" id="add-goal-btn"><strong>Create new goal</strong></a>
                        {% else %}
                        <h5 class="uppercase spaced-text header-blue-darker">Saving towards {{ user.goals_number }} Goals</h5>
                        {% endif %}
                        {% endif %}
                        <h6 id="saved-summary" class="uppercase header-blue-darker"><strong>{{ user.currency }}{{ "{:,.2f}".format(user.total_currently_saved) }} saved with track</strong></h6>
                        {% if (user.goals_achieved | length) == 1 %}
                        <h6 class="uppercase spaced-text header-gold">{{ user.goals_achieved | length }} Goal Achieved</h6>
                        {% elif (user.goals_achieved | length) > 1 %}
                        <h6 class="uppercase spaced-text header-gold">{{ user.goals_achieved | length}} Goals Achieved</h6>
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
        <div class="col s12 m8 offset-m2">
            <!--Create Goal Card-->
            <div class="card display-none" id="create-goal-card">
                <div class="card-content center">
                    <h4 class="center uppercase spaced-text header-blue"><strong>Create Goal</strong></h4>
                    <span class="header-blue-lighter card-link" id="create-goal-cancel">Back to Dashboard</span>
                    <div class="grey-border">
                        <div class="row">
                            <div class="col s12">
                                 <form id="create-goal-form" action="{{ url_for('insert_goal') }}" method="POST">
                                    <div class="row">
                                        <div class="input-field col s12 l5 offset-l1">
                                            <input value="" class="reload-reset" minlength="1" maxlength="30" id="goal_name" name="goal_name" type="text" placeholder="Goal Name" required>
                                            <span class="helper-text left spaced-text" data-error="Please enter a name for your goal">Goal Name</span>
                                        </div>
                                        <div class="input-field col s12 l5">
                                            <input class="reload-reset validate" value="0.00" id="end_total" name="end_total" type="text" required>
                                            <span class="helper-text left spaced-text">Goal Total ({{ user.currency }})</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l5 offset-l1">
                                            <input id="end_date" name="end_date" type="text" class="datepicker" placeholder="Goal End Date">
                                            <span class="helper-text left spaced-text">Goal End Date</span>
                                        </div>
                                        <div class="input-field col s12 l5">
                                        <div class="row" id="radio-row">
                                            <div class="col s12 ">
                                            <span class="helper-text spaced-text header-blue">How would you like to set the image for your goal?</span>
                                            </div>
                                            <div class="col s6">
                                                <label>
                                                    <input class="with-gap tooltipped" data-position="bottom" data-tooltip="I am a tooltip" name="img-method" id="url" value="url" type="radio" />
                                                    <span class="tooltipped header-blue" data-position="bottom" data-tooltip="If you have a specific image for your goal, you can upload it by its URL">URL</span>
                                                </label>
                                            </div>
                                            <div class="col s6">
                                                <label>
                                                <input class="with-gap" name="img-method" id="keyword" value="keyword" type="radio"/>
                                                    <span class="tooltipped header-blue" data-position="bottom" data-tooltip="We'll pick an image for you related to your goal. You can always change it later">Keyword</span>
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="row">
                                   <div class="input-field col s12 l10 offset-l1" id="keywordurl-input-field">
                                        <input type="hidden" id="search_keyword" name="search_keyword" value="">
                                            <input id="image_url" name="image_url" type="text" disabled placeholder="Keyword or URL">
                                            <span class="helper-text left spaced-text" id="frozen-span">Select keyword or URL to unfreeze me</span>
                                        </div>
                                    </div>
                                    <div class="row center">
                                        <div class="col s12">
                                            <button class="btn waves-effect waves-dark blue-btn" id="create-goal-submit" type="submit" name="action">Create Goal</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
        <!--Preloading spinner while fetch url promise completes-->
        <div class="col s12 center display-none" id="spinner-col">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <!--Recent Activity Card-->
            {% if user.deposits_number > 0 %}
            <div class="card">
                <div class="card-content center blue-text">
                    <h5 class="center uppercase spaced-text header-blue"><strong>Recent Activity</strong></h5>
                    <span><a href="{{ url_for('savingshistory', username=user.username ) }}" class="center header-blue-lighter card-link"><strong>View Full Savings History</strong></a></span>
                    <!--Savings History Table-->
                    <div class="grey-border">
                        <table class="highlight">
                        <thead>
                        <tr>
                            <th class="uppercase spaced-text header-blue-darker">Amount</th>
                            <th class="uppercase center spaced-text header-blue-darker">Goal</th>
                            <th class="uppercase right spaced-text header-blue-darker">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in user_savings_history | reverse %} <!--reverse item order as can only push to mongodb array -->
                        {% if loop.index <= 5 %}
                        <tr>
                            {% if item[2] > 0 %}
                            <td class="table-deposit header-green">
                                <i class="material-icons tiny">arrow_upward</i><strong class="deposits-main-figure">{{ user.currency }}{{ "{:,.2f}".format(item[2]) }}</strong>
                            </td>
                            {% else %}
                            <td class="table-withdrawal header-red">
                               <i class="material-icons tiny">arrow_downward</i><strong class="withdrawals-main-figure">{{ user.currency }}{{ "{:,.2f}".format(0 - item[2]) }}</strong>
                            </td>
                            {% endif %}
                            <td class="center header-blue-darker">{{ item[0] }}</td>
                            <td class="right blue-grey-text text-darken-1">{{ item[1].strftime("%d %b, %Y") }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div> 
            </div>
            {% endif %}
            <!--Goals Achieved Card-->
            {% if user.goals_achieved %}
            <div class="card">
                <div class="card-content center">
                    <h5 class="center uppercase spaced-text header-gold"><strong>Achieved Goals</strong></h5>
                      <div class="grey-border">
                        <table class="highlight">
                        <thead>
                        <tr>
                            <th class="uppercase spaced-text header-blue">Goal</th>
                            <th class="uppercase center spaced-text header-blue-darker">Amount</th>
                            <th class="uppercase right spaced-text header-blue-darker">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in user.goals_achieved | reverse %} <!--reverse item order as can only push to mongodb array -->
                        {% if loop.index <= 5 %}
                        <tr>
                            <td class="header-gold">{{ item[0] }}</td>
                            <td class="header-gold center">{{ user.currency }}{{ "{:,.2f}".format(item[1]) }}</td>
                            <td class="header-gold right">{{ item[2].strftime("%d %b, %Y") }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div> 
            </div>
            {% endif %}
        </div> 
    </div>
</div>
{% endblock %} 
{% block include_js_html %}
{% include 'dash_js.html'%}
<script src="{{ url_for('static', filename='js/dash.js') }}"></script>
{% endblock %}
