{% extends 'base.html' %}
{% block nav_links %}
<li><a href="{{url_for('index')}}">Home</a></li>
<li><a href="{{url_for('login')}}">Log In </a></li>
<li><a href="{{url_for('signup')}}">Sign Up</a></li>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="waves-effect waves-light btn jumbotron-btn" href="{{ url_for('signup') }}">Sign up</a>
        <a class="waves-effect waves-light btn jumbotron-btn" href="{{ url_for('login') }}">Log In</a>
    </div>
    <div class="carousel-item" id="index-carousel-one" href="#one!">
    </div>
    <div class="carousel-item " id="index-carousel-two" href="#two!">
    </div>
    <div class="carousel-item" id="index-carousel-three" href="#three!">
    </div>
  </div>
</div>
{% endblock %}
