{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
{% endif %}
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        {% if user %}
            <a class="waves-effect waves-light btn jumbotron-btn white blue-text index-btn" href="{{ url_for('dashboard', username=user.username) }}"><span class="index-btn-text"><strong>Dashboard</strong></span></a>
             <a class="waves-effect waves-light btn jumbotron-btn white blue-text index-btn" href="{{ url_for('dashboard', username=user.username) }}"><span class="index-btn-text"><strong>Goals</strong></span></a>
        {% else %}
        <a class="waves-effect waves-light btn jumbotron-btn white blue-text index-btn" href="{{ url_for('signup') }}"><span class="index-btn-text"><strong>Sign up</strong></span></a>
        <a class="waves-effect waves-light btn jumbotron-btn white blue-text index-btn" href="{{ url_for('login') }}"><span class="index-btn-text"><strong>Log In</strong></span></a>
        {% endif %}
    </div>
    <div class="carousel-item" id="index-carousel-one" href="#one!">
        <div class="row white" style="margin-top: 25vh;">
            <div class="col s12">
                <h3 class="spaced-text dark-blue-lowpoly" style="padding: 10px"><strong>{{ "{:,}".format(app_stats.users_total)}} savers use track</strong></h3>
                {% if user %}
                <h5 class="dark-blue-lowpoly uppercase spaced-text">We'd only be <strong>{{ "{:,}".format(app_stats.users_total - 1)}}</strong> without you!</h5>
                {% else %}
                <h5 class="dark-blue-lowpoly uppercase spaced-text">We'd love you to make it <strong>{{ "{:,}".format(app_stats.users_total + 1)}}</strong></h5>
                {% endif %}
            </div>     
        </div>
    </div>
    <div class="carousel-item " id="index-carousel-two" href="#two!">
        <div class="row white" style="margin-top: 25vh;">
            <div class="col s12">
                <h3 class="spaced-text dark-blue-lowpoly" style="padding: 10px"><strong>{% if user %}{{ user.currency}}{% else %}£{% endif %}{{ "{:,.2f}".format(app_stats.saved_total)}} saved so far</strong></h3>
                {% if user %}
                {% if user.total_currently_saved > 0 %}
                <h5 class="dark-blue-lowpoly uppercase spaced-text">{{ user.currency}}{{ "{:,.2f}".format(user.total_currently_saved) }} of this is yours!</h5>
                {% else %}
                <h5 class="dark-blue-lowpoly uppercase spaced-text">Start saving towards a new goal to be a part of it</h5>
                {% endif %}
                {% else %}
                <h5 class="dark-blue-lowpoly uppercase spaced-text">How much could you save?</h5>
                {% endif %}
            </div>     
        </div>
    </div>
    <div class="carousel-item" id="index-carousel-three" href="#three!">
       <div class="row white" style="margin-top: 25vh;">
            <div class="col s12">
                <h3 class="spaced-text dark-blue-lowpoly" style="padding: 10px"><strong>{{ "{:,}".format(app_stats.achieved_goals)}} goals achieved</strong></h3>
                {% if user %}
                    {% if (user.goals_achieved | length) == 0 %}
                        {% if user.deposts_number %}
                        <h5 class="dark-blue-lowpoly uppercase spaced-text">Keep saving and soon it will be {{ "{:,}".format(app_stats.achieved_goals + 1)}}</h5>
                        {% else %}
                        <h5 class="dark-blue-lowpoly uppercase spaced-text">Start saving and soon it will be {{ "{:,}".format(app_stats.achieved_goals + 1)}}</h5>
                        {% endif %}
                     {% elif (user.goals_achieved | length) == 1 %}
                      <h5 class="dark-blue-lowpoly uppercase spaced-text">One of them is yours! </h5>
                     {% else %}
                     <h5 class="dark-blue-lowpoly uppercase spaced-text">{{ user.goals_achieved | length }} of them are yours! </h5>
                    {% endif %}
                {% else %}
                <h5 class="dark-blue-lowpoly uppercase spaced-text">Track can help you achieve yours too </h5>
                {% endif %}
            </div>     
        </div>
    </div>
  </div>
  <div class="row" id="index-cards-row"> 
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/static/img/index-mockup-signup.jpg">
        </div>
        <div class="card-content">
        <span class="card-title blue-text text-darken-4"><strong>1. Sign Up</strong></span>
        <p></p>
        </div>
        <div class="card-action">
          <a href="{{url_for('signup')}}">Sign up</a>
          <a href="{{url_for('login')}}">Log in</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/static/img/index-mockup-save.jpg">
        </div>
        <div class="card-content">
        <span class="card-title blue-text text-darken-4"><strong>2. Track Savings</strong></span>
          <p>Enter your savings info and watch your savins grow towards your target</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/static/img/index-mockup-complete.jpg">
        </div>
        <div class="card-content">
        <span class="card-title blue-text text-darken-4"><strong>3. Achieve Goals</strong></span>
          <p></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
