{% extends 'base.html' %}
{% block nav_links %}
<li><a href="{{url_for('index')}}">Home</a></li>
<li><a href="{{url_for('login')}}">Log In </a></li>
<li><a href="{{url_for('signup')}}">Sign Up</a></li>
{% endblock %}
{% block content %}
<div class="container-fluid" id="login-container">
    <div class="row" id="login-signin-card-container">
        <div class="col s12 m6 offset-m3">
            <div class="card s12" id="login-card">
                <div class="card-content">
                    <span class="card-title center" id="login-header"><strong>Log In</strong></span>
                    <form action="#" method="POST">
                        <div class="row">
                            <div class="input-field col s8 offset-s2 l6 offset-l3">
                               <input class="white" placeholder="Username" id="username" name="username" type="text" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8 offset-s2 l6 offset-l3">
                                <input class="white" placeholder="Password" id="password" name="password" type="password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light form-action-btn white" type="submit" id="login-btn" name="action"><strong>Log In</strong></button>
                                <p class="">Don't have an account yet? <a href="#"><strong class="action-text">Sign Up!</strong></a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}