{% extends 'base.html' %}
{% block nav_links %}
<li><a href="{{url_for('index')}}">Home</a></li>
<li><a href="{{url_for('login')}}">Log In </a></li>
<li><a href="{{url_for('signup')}}">Sign Up</a></li>
{% endblock %}
{% block content %}
<div class="container-fluid" id="login-signup-container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card s12" id="login-signup-card">
                <div class="card-content">
                    <div class="blue-lowpoly-border">
                        <h4 class="center uppercase spaced-text dark-blue-lowpoly"><strong>Log In</strong></h4>
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <form action="{{url_for('login_auth')}}" method="POST">
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="white" placeholder="Username" id="username" name="username" type="text" required>
                                            <span class="helper-text spaced-text">Username</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="white" placeholder="Password" id="password" name="password" type="password" required>
                                            <span class="helper-text spaced-text">Password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center">
                                            <button class="btn waves-effect waves-light form-action-btn white" type="submit" id="login-btn" name="action"><strong>Log In</strong></button>
                                            <p class="">Don't have an account yet? <a href="{{ url_for('signup') }}"><strong class="action-text">Sign Up!</strong></a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}