<script>
$('document').ready(function(){
    // nav between profile and update profile cards
    userProfileNav("#update-profile-link", "#profile-card", "#update-profile-card")
    userProfileNav("#update-nav-back", "#update-profile-card", "#profile-card")
    userProfileNav("#update-password-link", "#profile-card", "#update-password-card")
    userProfileNav("#password-nav-back", "#update-password-card", "#profile-card")
    userProfileNav("#delete-profile-link", "#update-profile-card", "#delete-profile-card")
    userProfileNav("#delete-nav-back", "#delete-profile-card", "#profile-card")
    // clear input fields and validation classes on navigating away from card
     $("#delete-nav-back, #password-nav-back").click(function(){
        $('.reload-reset').val("").removeClass("valid invalid");
    })
    // clientside validation: delete user 
    $("#password_delete").on({
        focusout: function(){
            if (!$(this).val()){
                $(this).addClass("invalid");
            }
            $(this).removeClass("valid") // never want this to show as valid as not doing clientside password auth
        }, 
        keydown: function(e){
            if (e.key === "Backspace" || e.key === "Delete"){
                if ($(this).val().length == 6 ) {
                    $(this).addClass("invalid");
                }
            }
        },
        keyup: function(e){ 
            if ($(this).val().length == 0) {
                $(this).addClass("invalid");
            } else if ($(this).val().length == 6) {
                $(this).removeClass("invalid");
            }
        }   
    })
    //clientside validation: update password
    $("#password_delete").on({
        focusout: function(){
            if (!$(this).val()){
                $(this).addClass("invalid");
            }
            $(this).removeClass("valid") // never want this to show as valid as not doing clientside password auth
        }, 
        keydown: function(e){
            if (e.key === "Backspace" || e.key === "Delete"){
                if ($(this).val().length == 6 ) {
                    $(this).addClass("invalid");
                }
            }
        },
        keyup: function(e){ 
            if ($(this).val().length == 0) {
                $(this).addClass("invalid");
            } else if ($(this).val().length == 6) {
                $(this).removeClass("invalid");
            }
        }   
    })
})

function userProfileNav(el1, el2, el3) {
    $(el1).click(function(){
        $(el2).addClass("display-none");
        $(el3).removeClass("display-none");
    })
}
</script>