{% extends 'base.html' %} {% block nav_links %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('dashboard', username=user.username) }}">Dashboard</a></li>
{% if user.goals_number != 0 %}
<li><a class="dropdown-trigger" href="#!" data-target="nav_goals">Goals<i class="material-icons right">arrow_drop_down</i></a></li>
<ul id="nav_goals" class="dropdown-content">
    {% for goal in goals %}
    <li><a href="#" class="uppercase">{{goal.goal_name}}</a></li>
    {% endfor %}
    {% if user.goals_number < 4 %}
    <li class="divider"></li>
    <li><a href="#add-goal-modal" class="modal-trigger uppercase"><i class="material-icons">add_box</i>New</a></li>
    {% endif %} 
</ul>
{% endif %}
<li><a href="{{url_for('profile', username=user.username)}}">Profile</a></li>
<li><a href="{{url_for('logout')}}">Log Out</a></li>
{% endblock %} 
{% block content %}
<div class="container-fluid" id="profile-container">
    <div class="row" id="profile-card-container">
        <!--Fab Menu-->
        <div class="fixed-action-btn" id="cards-fab">
            <a class="btn-floating horizontal btn-large red" id="cards-fab-main-btn">
            <i class="large material-icons">dashboard</i>
            </a>
            <ul id="goal-fab-ul">
            {% if (goals | length) < 4%}
            <li>
                <a class="btn-floating darken-1 goal-fab-card"
                ><i class="material-icons">add</i></a
                >
            </li>
            {% endif %} {% for goal in goals %}
            <li>
                <a class="btn-floating darken-1 goal-fab-card" style="background-image: url({{ goal.image_url }})"></a>
            </li>
            {% endfor %}
            </ul>
        </div>
        <!--Profile Info Card-->
        <div class="col s12 m8 offset-m2 l6 offset-l3" id="profile-card">
            <div class="card">
                <div class="card-content center">
                    <h4 id="main-card-title" class="center uppercase spaced-text dark-blue-lowpoly"><strong>{{ user.fname }} {{ user.lname }}</strong></h4>
                        <strong><a class="lowpoly-link" id="update-profile-link">Update Profile</a><span class="dark-blue-lowpoly"> | </span><a id="update-password-link" class="lowpoly-link">Update Password</a></strong>
                        <div class="blue-lowpoly-border">
                            <h5 class="dark-blue-lowpoly"><strong>{{user.username}}</strong></h5>
                            <p class="dark-blue-lowpoly uppercase spaced-text">Username</p>
                            <h5 class="dark-blue-lowpoly"><strong>{{user.email}}</strong></h5>
                            <p class="dark-blue-lowpoly uppercase spaced-text">Email Address</p>
                            <h5 class="dark-blue-lowpoly"><strong> {{user.signup_date.strftime('%d-%m-%Y')}}</strong></h5>
                            <p class="dark-blue-lowpoly uppercase spaced-text">Sign Up Date</p>
                            <h5 class="dark-blue-lowpoly"><strong>{{user.currency}} {% if user.currency == "£" %} GBP {% else %} EUR {% endif %}</strong></h5>
                            <p class="dark-blue-lowpoly uppercase spaced-text">Currency</p>
                        </div>
                </div> 
            </div>
        </div>
        <!--Update Profile Info Card-->
        <div class="col s12 m8  offset-m2 l6 offset-l3 display-none" id="update-profile-card">
            <div class="card">
                <div class="card-content center">
                    <h4 class="center uppercase spaced-text dark-blue-lowpoly"><strong>Update Profile</strong></h4>
                    <strong><a class="lowpoly-link" id="update-nav-back">Back to Profile</a> <span class="dark-blue-lowpoly"> | </span><a href="#change-pw-modal" class="red-lowpoly-link" id="delete-profile-link">Delete Profile</a></strong>
                    <div class="blue-lowpoly-border">
                        <div class="row">
                            <div class="col s12">
                                <form action="{{url_for('update_user', username=user.username)}}" method="POST">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="switch" >
                                                <label class="dark-blue-lowpoly">
                                                    {{ user.currency }}
                                                    <input type="checkbox" id="currency-switch" name="currency-switch">
                                                    <span class="lever"></span>
                                                    {% if user.currency == "£" %} € {% else %} £ {% endif %}
                                                </label>
                                                <p class="uppercase spaced-text">Switch Currency</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input value="{{user.fname}}" id="fname" name="fname" type="text" required>
                                            <label for="fname" class="dark-blue-lowpoly">First Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                        <input value="{{user.lname}}" id="lname" name="lname" type="text" required>
                                        <label for="lname" class="dark-blue-lowpoly">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input value="{{user.email}}" id="email" name="email" type="email" required>
                                            <label class="dark-blue-lowpoly" for="email">Email Address</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input id="password" name="password" type="password" placeholder="Confirm Password" required>
                                            <label class="dark-blue-lowpoly" for="password">Confirm Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <button class="btn waves-effect waves-light form-red-btn">Cancel</button>
                                            <button class="btn waves-effect waves-dark update-btn" type="submit" name="action">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!--Update Profile Password Card-->
        <div class="col s12 m8  offset-m2 l6 offset-l3 display-none" id="update-password-card">
            <div class="card">
                <div class="card-content">
                    <div class="center">
                        <h4 class="uppercase spaced-text dark-blue-lowpoly"><strong>Update Password</strong></h4>
                        <a class="lowpoly-link" id="password-nav-back"><strong>Back to Profile</strong></a>
                    </div>
                    <div class="blue-lowpoly-border">
                        <div class="row">
                            <div class="col s12">
                                <div class="center">
                                    <i class="material-icons dark-blue-lowpoly" id="update-pw-icon">lock_outline</i>
                                </div>
                                <form id="update-pw-form" action="{{url_for('update_password', username=user.username)}}" method="POST">
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="reload-reset" id="oldpassword" name="oldpassword" type="password" placeholder="Current Password" required>
                                            <span class="helper-text spaced-text" data-error="Please confirm your current password">Current password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                        <input class="reload-reset" minlength="6" id="newpassword" name="newpassword" type="password" placeholder="New Password" required>
                                        <span class="helper-text spaced-text" data-error="Enter your new password (6+ characters)">New password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="reload-reset validate" minlength="6" id="newpasswordcheck" name="newpasswordcheck" type="password" placeholder="Re-Enter New Password" required>
                                            <span class="helper-text left spaced-text">Re-Enter new password</span>
                                        </div>
                                    </div>
                                    <div class="row center">
                                        <div class="col s12">
                                            <button class="btn waves-effect waves-light form-red-btn">Cancel</button>
                                            <button class="btn waves-effect waves-dark update-btn" id="update-pw-submit" type="submit" name="action">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!--Delete Profile Card-->
        <div class="col s12 m8  offset-m2 l6 offset-l3 display-none" id="delete-profile-card">
            <div class="card">
                <div class="card-content center">
                    <h4 class="center uppercase spaced-text dark-blue-lowpoly"><strong>Delete Profile</strong></h4>
                    <a class="lowpoly-link" id="delete-nav-back"><strong>Back to Profile</strong></a>
                        <div class="row">
                            <div class="col s12">
                                <h5 class="silver-lowpoly">Are you sure you want to delete your profile and goals forever?</h5>
                                <p class="silver-lowpoly uppercase spaced-text para-small"> Any current goals and progress will be removed.</p>
                            </div>
                        </div>
                        <div class="blue-lowpoly-border">
                        <form action="{{url_for('delete_user', username=user.username) }}" method="POST">
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <p class="silver-lowpoly uppercase spaced-text"><b>Please confirm your password to delete your profile</b></p>
                                    </br>
                                    <input class="validate reload-reset" id="password_delete" name="password_delete" type="password" placeholder="Confirm Password" minlength="6" required>
                                    <span class="helper-text spaced-text" data-error="Please confirm your password"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light update-btn"><strong>Cancel</strong></button>
                                    <button class="btn waves-effect waves-dark form-red-btn" type="submit" name="action" ><strong>Delete</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block include_js_html %}
{% include 'profile_js.html' %}
{% endblock %}
