<script>
$('document').ready(function(){
    // nav between profile and update profile cards
    userProfileNav("#update-profile-link", "#profile-card", "#update-profile-card")
    userProfileNav("#update-nav-back", "#update-profile-card", "#profile-card")
    userProfileNav("#update-password-link", "#profile-card", "#update-password-card")
    userProfileNav("#password-nav-back", "#update-password-card", "#profile-card")
    userProfileNav("#delete-profile-link", "#update-profile-card", "#delete-profile-card")
    userProfileNav("#delete-nav-back", "#delete-profile-card", "#profile-card")
    // clear input fields and validation classes on navigating away from card
     $("#delete-nav-back, #password-nav-back").click(function(){
        $('.reload-reset').val("").removeClass("valid invalid");
    })
    // clientside validation: delete user 
    $("#password_delete").on({
        focusout: function(){
            if (!$(this).val()){
                $(this).addClass("invalid");
            }
            $(this).removeClass("valid") // never want this to show as valid as not doing clientside password auth
        }, 
        keydown: function(e){
            if (e.key === "Backspace" || e.key === "Delete"){
                if ($(this).val().length == 6 ) {
                    $(this).addClass("invalid");
                }
            }
        },
        keyup: function(e){ 
            if ($(this).val().length == 0) {
                $(this).addClass("invalid");
            } else if ($(this).val().length == 6) {
                $(this).removeClass("invalid");
            }
        }   
    })
    //clientside validation: update password
    $("#oldpassword").on({
       focusout: function(){
            if (!$(this).val()){
                $(this).addClass("invalid");
            }
            $(this).removeClass("valid") // never want this to show as valid as not doing clientside password auth
        }, 
        keydown: function(e){
            if (e.key === "Backspace" || e.key === "Delete"){
                if ($(this).val().length == 6 ) {
                    $(this).addClass("invalid");
                }
            }
        },
        keyup: function(e){ 
            if ($(this).val().length == 0) {
                $(this).addClass("invalid");
            } else if ($(this).val().length == 6) {
                $(this).removeClass("invalid");
            }
        }   
    })
    // clientside signup form validation: new password
     $("#newpassword").on({
        focusout: function(){
            if ($(this).val().length < 6){
                $(this).addClass("invalid").attr("data-error", "Password must use 6+ characters");
            }
        },
        keydown: function(e){
            if (e.key === "Backspace" || e.key === "Delete"){
                if ($(this).val().length == 6) {
                    $(this).removeClass("valid").addClass("invalid").next().attr("data-error", "Password must use 6+ characters")
                }
            } 
            if ($(this).val() == $("#newpasswordcheck").val()) {
                $(this).removeClass("valid").addClass("invalid").attr("data-error", "Passwords don't match")
                $("#newpasswordcheck").removeClass("valid").addClass("invalid").attr("data-error", "Passwords don't match")
            }
        }, 
        keyup: function(){
            if($(this).val().length > 5){
                if ($("#newpasswordcheck").val() == $(this).val()) {
                    $("#newpasswordcheck").removeClass("invalid").addClass("valid")
                    $(this).removeClass("invalid").addClass("valid")
                } if ($(this).val().length == 0){
                    $(this).removeClass("valid").addClass("invalid").next().attr("data-error", "Please enter a password")
                }
            }
        }
    })

    $("#newpasswordcheck").on("keyup", function (e) {
        if ($(this).val().length > 5 && $(this).val() != $("#newpassword").val()) {
            $(this).removeClass("valid").addClass("invalid")
            $("#newpassword").removeClass("valid").addClass("invalid").next().attr("data-error", "Passwords don't match")
        } else if ($(this).val().length > 5 && $(this).val() == $("#newpassword").val()){
            $(this).removeClass("invalid").addClass("valid")
            $("#newpassword").removeClass("invalid").addClass("valid").next().attr("data-success", "Passwords match")
        }
    });
//
})
function userProfileNav(el1, el2, el3) {
    $(el1).click(function(){
        $(el2).addClass("display-none");
        $(el3).removeClass("display-none");
    })
}
</script>