{% extends 'base.html' %}
{% block content %}
<div class="container-fluid page-container" id="profile-container">
    <div class="row" id="profile-card-container">
        <!--Fab Menu-->
        <div class="fixed-action-btn hide-on-small-only" id="cards-fab">
            <a class="btn-floating horizontal btn-large red" id="cards-fab-main-btn">
            <i class="large material-icons">dashboard</i>
            </a>
            <ul id="goal-fab-ul">
            {% if (goals | length) < 4%}
            <li>
                <a class="btn-floating darken-1 goal-fab-card" href="{{ url_for('dashboard', username=user.username, add_goal='add') }}"><i class="material-icons">add</i></a>
            </li>
            {% endif %} {% for goal in goals %}
            <li>
                <a class="btn-floating darken-1 goal-fab-card" href="{{ url_for('goal_view', username=user.username, goal_id=goal._id) }}" style="background-image: url({{ goal.image_url }})"></a>
            </li>
            {% endfor %}
            </ul>
        </div>
        <!--Profile Info Card-->
        <div class="col s12 m8 offset-m2 l6 offset-l3" id="profile-card">
            <div class="card">
                <div class="card-content center">
                    <h4 id="main-card-title" class="center uppercase spaced-text header-blue"><strong>{{ user.fname }} {{ user.lname }}</strong></h4>
                        <strong><a class="header-blue-lighter card-link" id="update-profile-link">Update Profile</a><span class="header-blue"> | </span><a id="update-password-link" class="header-blue-lighter card-link">Update Password</a></strong>
                        <div class="grey-border">
                            <h5 class="header-blue"><strong>{{ user.username }}</strong></h5>
                            <p class="header-blue-darker uppercase spaced-text">Username</p>
                            <h5 class="header-blue"><strong>{{ user.email }}</strong></h5>
                            <p class="header-blue-darker uppercase spaced-text">Email Address</p>
                            <h5 class="header-blue"><strong> {{ user.signup_date.strftime('%d-%m-%Y') }}</strong></h5>
                            <p class="header-blue-darker uppercase spaced-text">Sign Up Date</p>
                            <h5 class="header-blue"><strong>{{ user.currency }} {% if user.currency == "£" %} GBP {% else %} EUR {% endif %}</strong></h5>
                            <p class="header-blue-darker uppercase spaced-text">Currency</p>
                        </div>
                </div> 
            </div>
        </div>
        <!--Update Profile Info Card-->
        <div class="col s12 m8  offset-m2 l6 offset-l3 display-none" id="update-profile-card">
            <div class="card">
                <div class="card-content center">
                    <h4 class="center uppercase spaced-text header-blue"><strong>Update Profile</strong></h4>
                    <strong><a class="header-blue-lighter card-link" id="update-nav-back">Back to Profile</a> <span class="header-blue"> | </span><a class="header-red-lighter red-card-link" id="delete-profile-link">Delete Profile</a></strong>
                    <div class="grey-border">
                        <div class="row">
                            <div class="col s12">
                                <form action="{{ url_for('update_user', username=user.username) }}" method="POST">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="switch" >
                                                <label>
                                                    <span id="switch-off" class="header-blue">{{ user.currency }}</span>
                                                    <input type="checkbox" id="currency-switch" name="currency-switch">
                                                    <span class="lever"></span>
                                                    <span id="switch-on">{% if user.currency == "£" %} € {% else %} £ {% endif %}</span>
                                                </label>
                                                <p class="uppercase spaced-text header-blue-darker">Switch Currency</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="validate" value="{{ user.fname }}" id="fname" name="fname" type="text" required>
                                            <span class="helper-text spaced-text" data-success="First Name">First Name</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="validate" value="{{ user.lname }}" id="lname" name="lname" type="text" required>
                                            <span class="helper-text spaced-text" data-success="Last Name">Last Name</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="validate" value="{{ user.email }}" id="email" name="email" type="email" required>
                                            <span class="helper-text spaced-text" data-success="Email Address">Email Address</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input id="password" name="password" type="password" placeholder="Confirm Password" required>
                                            <span class="helper-text spaced-text" data-success="Password">Confirm Password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <button class="btn waves-effect waves-dark blue-btn" type="submit" name="action">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!--Update Password Card-->
        <div class="col s12 m8  offset-m2 l6 offset-l3 display-none" id="update-password-card">
            <div class="card">
                <div class="card-content">
                    <div class="center">
                        <h4 class="uppercase spaced-text header-blue"><strong>Update Password</strong></h4>
                        <a class="header-blue-lighter card-link" id="password-nav-back"><strong>Back to Profile</strong></a>
                    </div>
                    <div class="grey-border">
                        <div class="row">
                            <div class="col s12">
                                <div class="center">
                                    <i class="material-icons header-blue" id="update-pw-icon">lock_outline</i>
                                </div>
                                <form id="update-pw-form" action="{{ url_for('update_password', username=user.username) }}" method="POST">
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="reload-reset" id="oldpassword" name="oldpassword" type="password" placeholder="Current Password" required>
                                            <span class="helper-text spaced-text" data-error="Please confirm your current password">Current password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                        <input class="reload-reset" minlength="6" id="newpassword" name="newpassword" type="password" placeholder="New Password" required>
                                        <span class="helper-text spaced-text" data-error="Enter your new password (6+ characters)">New password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m8 offset-m2">
                                            <input class="reload-reset" minlength="6" id="newpasswordcheck" name="newpasswordcheck" type="password" placeholder="Re-Enter New Password" required>
                                            <span class="helper-text left spaced-text">Re-Enter new password</span>
                                        </div>
                                    </div>
                                    <div class="row center">
                                        <div class="col s12">
                                            <button class="btn waves-effect waves-dark blue-btn" id="update-pw-submit" type="submit" name="action">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!--Delete Profile Card-->
        <div class="col s12 m8  offset-m2 l6 offset-l3 display-none" id="delete-profile-card">
            <div class="card">
                <div class="card-content center">
                    <h4 class="center uppercase spaced-text header-blue"><strong>Delete Profile</strong></h4>
                    <a class="header-blue-lighter card-link" id="delete-nav-back"><strong>Back to Profile</strong></a>
                    <div class="grey-border">
                        <div class="row">
                            <div class="col s12">
                                <p class="header-blue-darker uppercase spaced-text">Are you sure you want to delete your profile and goals forever?</p>
                            </div>
                        </div>
                        <form action="{{ url_for('delete_user', username=user.username) }}" id="delete-user-form" method="POST">
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <p class="header-blue-darker uppercase spaced-text"><b>Please confirm your password to delete your profile</b></p>
                                    </br>
                                    <input class="reload-reset" id="password_delete" name="password_delete" type="password" placeholder="Confirm Password" minlength="6" required>
                                    <span class="helper-text spaced-text" data-error="Please confirm your password" data-success="Password"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-dark red-btn" type="submit" name="action" ><strong>Delete</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block include_js_html %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
