{% extends 'base.html' %} {% block nav_links %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('dashboard', username=user.username) }}">Dashboard</a></li>
{% if user.goals_number != 0 %}
<li><a class="dropdown-trigger" href="#!" data-target="nav_goals">Goals<i class="material-icons right">arrow_drop_down</i></a></li>
<ul id="nav_goals" class="dropdown-content">
    {% for goal in goals %}
    <li><a href="#" class="uppercase">{{goal.goal_name}}</a></li>
    {% endfor %}
    {% if user.goals_number < 4 %}
    <li class="divider"></li>
    <li><a href="#add-goal-modal" class="modal-trigger uppercase"><i class="material-icons">add_box</i>New</a></li>
    {% endif %} 
</ul>
{% endif %}
<li><a href="{{url_for('profile', username=user.username)}}">Profile</a></li>
<li><a href="{{url_for('logout')}}">Log Out</a></li>
{% endblock %} 
{% block content %}
<div class="container-fluid" id="profile-container">
    <div class="row" id="profile-card-container">
        <!--Fab Menu-->
        <div class="fixed-action-btn" id="cards-fab">
            <a class="btn-floating horizontal btn-large red" id="cards-fab-main-btn">
            <i class="large material-icons">dashboard</i>
            </a>
            <ul id="goal-fab-ul">
            {% if (goals | length) < 4%}
            <li>
                <a class="btn-floating darken-1 goal-fab-card"
                ><i class="material-icons">add</i></a
                >
            </li>
            {% endif %} {% for goal in goals %}
            <li>
                <a class="btn-floating darken-1 goal-fab-card" style="background-image: url({{ goal.image_url }})"></a>
            </li>
            {% endfor %}
            </ul>
        </div>
        <!--Profile Info Card-->
        <div class="col s12 m8 l6" style="display: none">
            <div class="card">
                <div class="card-content center blue-text">
                    <h4 id="main-card-title" class="center uppercase spaced-text"><strong>{{ user.fname }} {{ user.lname }}</strong></h4>
                     <strong><a class="modal-trigger lowpoly-link">Update Profile</a><span class="dark-blue-lowpoly"> | </span><a href="#change-pw-modal" class="modal-trigger lowpoly-link">Update Password</a></strong>
                     <h5 class="dark-blue-lowpoly"><strong>{{user.username}}</strong></h5>
                    <p class="dark-blue-lowpoly uppercase">Username</p>
                    <h5 class="dark-blue-lowpoly"><strong>{{user.email}}</strong></h5>
                    <p class="dark-blue-lowpoly uppercase">Email Address</p>
                    <h5 class="dark-blue-lowpoly"><strong> {{user.signup_date.strftime('%d-%m-%Y')}}</strong></h5>
                    <p class="dark-blue-lowpoly uppercase">Sign Up Date</p>
                    <h5 class="dark-blue-lowpoly"><strong>{{user.currency}} {% if user.currency == "£" %} GBP {% else %} EUR {% endif %}</strong></h5>
                    <p class="dark-blue-lowpoly uppercase">Currency</p>
                </div> 
            </div>
        </div>
        <!--Update Profile Info Card-->
        <div class="col s12 m8 l6">
            <div class="card" id="update-profile-card">
                <div class="card-content center blue-text">
                    <h4 id="main-card-title" class="center uppercase spaced-text"><strong>Update Profile</strong></h4>
                    <strong><a class="modal-trigger lowpoly-link"><i class="material-icons tiny">arrow_back</i>Back to Profile</a>
                    <div class="row" id="edit-user-form-container">
                    <div class="col s12">
                        <form action="#" method="POST">
                            <div class="row">
                                <div class="col s12">
                                    <div class="switch" >
                                        <label class="dark-blue-lowpoly tooltipped" data-position="bottom" data-tooltip="Switch Currency">
                                            {{ user.currency }}
                                            <input type="checkbox" id="currency-switch" name="currency-switch">
                                            <span class="lever"></span>
                                            {% if user.currency == "£" %} € {% else %} £ {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input value="{{user.fname}}" id="fname" name="fname" type="text" required>
                                    <label for="fname" class="dark-blue-lowpoly">First Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                <input value="{{user.lname}}" id="lname" name="lname" type="text" required>
                                <label for="lname" class="dark-blue-lowpoly">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input value="{{user.email}}" id="email" name="email" type="email" required>
                                    <label class="dark-blue-lowpoly" for="email">Email Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 offset-m2">
                                    <input id="password" name="password" type="password" placeholder="Confirm Password" required>
                                    <label class="dark-blue-lowpoly" for="password">Confirm Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light form-red-btn">Cancel</button>
                                <button class="btn waves-effect waves-dark update-btn" type="submit" name="action">Update</button>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %} 