{% extends 'base.html' %} {% block nav_links %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('dashboard', username=user.username) }}">Dashboard</a></li>
{% if user.goals_number != 0 %}
<li><a class="dropdown-trigger" href="#!" data-target="nav_goals">Goals<i class="material-icons right">arrow_drop_down</i></a></li>
<ul id="nav_goals" class="dropdown-content">
    {% for goal in goals %}
    <li><a href="{{ url_for('goal_view', username=user.username, goal_id=goal._id) }}" class="uppercase">{{goal.goal_name}}</a></li>
    {% endfor %}
    {% if user.goals_number < 4 %}
    <li class="divider"></li>
    <li><a href="#add-goal-modal" class="modal-trigger uppercase"><i class="material-icons">add_box</i>New</a></li>
    {% endif %} 
</ul>
{% endif %}
<li><a href="{{url_for('profile', username=user.username)}}">Profile</a></li>
<li><a href="{{url_for('logout')}}">Log Out</a></li>
{% endblock %} 
{% block content %}
<div class="container-fluid" id="history-container">
<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        {% if user.deposits_number > 0 %}
        <div class="card">
            <div class="card-content center blue-text">
                <h4 class="center uppercase spaced-text dark-blue-lowpoly print-transform"><strong>Savings History</strong></h4>
                {% if historytype == "goal" %}
                <h4 class="spaced-text dark-blue-lowpoly" style="margin-bottom: 30px"><strong>{{ goal.goal_name }}</strong></h4>
                {% endif %}
                <h6 class="uppercase spaced-text dark-blue-lowpoly print-transform">{{ user.fname }} {{ user.lname }}</h6>
                <br />
                <a id="print-history-btn" download><i class="material-icons lowpoly-link">print</i></a>
                <br />
                <span><a href="{{ url_for('dashboard', username=user.username) }}" class="center lowpoly-link"><strong>Back to Dashboard</strong></a></span>
                <!--Savings History Table-->
                <div class="blue-lowpoly-border">
                    <table class="highlight">
                    {% if historytype == "user" %}
                    <thead>
                    <tr>
                        <th class="uppercase spaced-text print-transform dark-blue-lowpoly">Amount</th>
                        <th class="uppercase center spaced-text print-transform dark-blue-lowpoly">Goal</th>
                        <th class="uppercase right spaced-text print-transform dark-blue-lowpoly">Date</th>
                    </tr>
                    </thead>
                    {% else %}
                     <thead>
                        <tr>
                            <th class="uppercase spaced-text dark-blue-lowpoly">Amount</th>
                            <th class="uppercase right spaced-text dark-blue-lowpoly">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in goal.savings_history | sort(reverse=true) %} <!--reverse item order as can only push to mongodb array -->
                        <tr>
                            {% if item[1] > 0 %}
                            <td class="table-deposit green-lowpoly">
                                <h6><i class="material-icons tiny">arrow_upward</i><strong class="deposits-main-figure">{{user.currency}}{{ "{:,.2f}".format(item[1]) }}</strong></h6>
                            </td>
                            {% else %}
                            <td class="table-withdrawal red-lowpoly">
                               <h6><i class="material-icons tiny">arrow_downward</i><strong class="withdrawals-main-figure">{{user.currency}}{{ "{:,.2f}".format(0 - item[1]) }}</strong><h6>
                            </td>
                            {% endif %}
                            <td class="right dark-blue-lowpoly"><strong>{{ item[0].strftime("%d %b, %Y") }}</strong></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endif %}
                    <tbody>
                    {% for item in user_savings_history | sort(reverse=true) %} <!--reverse item order as can only push to mongodb array -->
                    <tr>
                        {% if item[1] > 0 %}
                        <td class="table-deposit green-lowpoly print-transform">
                            <i class="material-icons tiny">arrow_upward</i><strong class="deposits-main-figure">{{user.currency}}{{ "{:,.2f}".format(item[1]) }}</strong>
                        </td>
                        {% else %}
                        <td class="table-withdrawal red-lowpoly print-transform">
                            <i class="material-icons tiny">arrow_downward</i><strong class="withdrawals-main-figure">{{user.currency}}{{ "{:,.2f}".format(0 - item[1]) }}</strong>
                        </td>
                        {% endif %}
                        <td class="center dark-blue-lowpoly print-transform"> <a href="#" class="goal-link lowpoly-link print-transform">{{ item[2] }}</a></td>
                        <td class="right dark-blue-lowpoly print-transform">{{ item[0].strftime("%d %b, %Y") }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div> 
        </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
{% block include_js_html %}
{% include 'savingshistory_js.html' %}
{% endblock %}