{% extends 'base.html' %}
{% block content %}
<div class="container-fluid page-container" id="login-signup-container">
    <div class="row" id="signup-row">
        <div class="col s12 m8 offset-m2">
            <div class="card s12" id="login-signup-card">
                <div class="card-content">
                    <h4 class="center uppercase spaced-text header-blue"><strong>Sign Up</strong></h4>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <div class="grey-border">
                                <form action="{{ url_for('register_user') }}" id="register-user-form" method="POST">
                                    <div class="row">
                                        <div class="col s12 center">
                                            <div class="switch" >
                                                <label>
                                                    <span id="switch-off" class="header-blue">£</span> 
                                                    <input type="checkbox" id="currency" name="currency">
                                                    <span class="lever"></span>
                                                    <span id="switch-on">€</span>
                                                </label>
                                                <p class="uppercase spaced-text header-blue-darker">Select Currency</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l5 offset-l1">
                                            <input id="fname" class="validate" name="fname" placeholder="First Name" type="text" minlength="2" maxlength="20" required>
                                            <span class="helper-text spaced-text" data-error="Please enter your first name">First Name</span>
                                        </div>
                                        <div class="input-field col s12 l5">
                                            <input id="lname" name="lname" class="validate" placeholder="Last Name" type="text" minlength="2" maxlength="20" required>
                                            <span class="helper-text spaced-text" data-error="Please enter your last name" >Last Name</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l5 offset-l1">
                                            <input id="username" class="validate" placeholder="Username" name="username" type="text" minlength="5" maxlength="10" required>
                                            <span class="helper-text spaced-text" data-error="Username must have 5 characters or more" data-success="Username">Username (5-10 Characters)</span>
                                        </div>
                                        <div class="input-field col s12 l5">
                                            <input id="email" name="email" class="validate" placeholder="Email Address" type="email" required data-error="Please Enter Valid Email Address">
                                            <span class="helper-text spaced-text" data-error="Please use a valid email address" data-success="Email Address">Email Address</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l5 offset-l1">
                                            <input class="validate" id="password" name="password" placeholder="Password" type="password" pattern=".{6,}" required>
                                            <span class="helper-text spaced-text" data-error="Please enter a password" data-success="Password">Password (6+ Characters)</span>
                                        </div>
                                        <div class="input-field col s12 l5">
                                            <input id="passwordcheck" name="passwordcheck" placeholder="Re-Enter Password" type="password" required>
                                            <span class="helper-text spaced-text" data-error="Passwords don't match" data-success="Passwords Match">Re-Enter Password</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center">
                                            <button class="btn waves-effect waves-blue blue-btn" type="submit" name="action" id="login-signup-btn"><strong>Sign Up</strong></button>
                                            <p class="header-blue-darker">Already have an account? <a href="{{ url_for('login') }}"><strong class="header-blue-lighter card-link">Log In!</strong></a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block include_js_html %}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}
{% endblock %}