<script>
$(document).ready(function(){
    progressPie({{ goal.percent_progress }})
    depositsGauge({{ goal.deposits_number }}, {{ goal.withdrawals_number }})
    $("#withdraw-submit").click(function(e){
        e.preventDefault();
        if ($("#withdraw_value").val() > {{goal.current_total}}) {
           M.toast({html: 'You can\'t withdraw more than your current total', classes: 'flash'});
        }
        else {
            $("#withdraw-form").submit();
        }
    });
})
function progressPie (progress){
// progress chart on viewgoal template
  var ctx = document.getElementById("goal-progress-pie").getContext('2d');
  var gradient = ctx.createLinearGradient(0, 0, 0, 1000);
    gradient.addColorStop(0, 'rgba(37, 105, 161, 1')
    gradient.addColorStop(0.3, 'rgba(33, 173, 96, 1');
    gradient.addColorStop(1, 'rgba(24, 201, 128, 1');
    var gradientBorder = ctx.createLinearGradient(0, 0, 0, 1000);
    gradientBorder.addColorStop(0, 'rgba(37, 105, 161, 1');
    gradientBorder.addColorStop(0.3, 'rgba(37, 159, 161, 1');
    gradientBorder.addColorStop(1, 'rgba(35, 145, 150, 1');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['% progress', '% remaining'],
        datasets: [{
            data: [progress, (100 - progress)],
            // data: [100], // uncomment to check progress chart gradient at 100%
            backgroundColor: [
                gradient,
                'rgba(167, 180, 181, 1)'
            ],
            borderColor: [
                gradientBorder,
                'rgba(250, 250, 250, 1)'
            ],
            borderWidth: 1
        }],
    },
    options: {
        legend: {
            display: false
        }
    }
});
}
function depositsGauge (deposits, withdrawals){
  var ctx = document.getElementById('goal-deposits-gauge').getContext('2d');
  // create the gradient for the line/area part of chart
    var gradientDeposit = ctx.createLinearGradient(500, 0, 0, 0);
    gradientDeposit.addColorStop(0, 'rgba(38,146,148, 0.7')
    gradientDeposit.addColorStop(0.2, 'rgba(41, 222, 165, 0.7')
    gradientDeposit.addColorStop(1, 'rgba(47,148,146, 0.7')
    var gradientDepositBorder = ctx.createLinearGradient(500, 0, 0, 0);
    gradientDepositBorder.addColorStop(0, 'rgba(0, 167, 155, 1')
    gradientDepositBorder.addColorStop(0.2, 'rgba(41, 222, 165, 0.7')
    gradientDepositBorder.addColorStop(1, 'rgba(47,148,146, 0.7')
    var gradientWithdrawal = ctx.createLinearGradient(500, 0,0, 0);
    gradientWithdrawal.addColorStop(0.2, 'rgba(238, 9, 121, 0.7') 
    gradientWithdrawal.addColorStop(0, 'rgba(244, 107, 69, 0.7')
    gradientWithdrawal.addColorStop(1, 'rgba(229, 57, 35, 0.7')
    var gradientWithdrawalBorder = ctx.createLinearGradient(500, 0, 0, 0);
    gradientWithdrawalBorder.addColorStop(0.1, 'rgba(238, 9, 121, 0.9') 
    gradientWithdrawalBorder.addColorStop(0, 'rgba(244, 107, 69, 0.9')
    gradientWithdrawalBorder.addColorStop(1, 'rgba(229, 57, 35, 0.9') 
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Deposits', 'Withdrawals'],
        datasets: [{
            label: 'Deposits/Withdrawals',
            data: [deposits, withdrawals],
            backgroundColor: [
                gradientDeposit,
                gradientWithdrawal
            ],
            borderColor: [
                gradientDepositBorder,
                gradientWithdrawalBorder
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            position: 'bottom'
        },
      // these options make it a gauge chart/half doughnut
          rotation: 1 * Math.PI,
    circumference: 1 * Math.PI
    }
});
}
</script>